.title-wrapper {
  position: relative;
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  height: 100vh; 
  font: normal bold 6.5rem / 1.2 'Poppins', 'Helvetica', sans-serif;
}

.inner {
  position: relative;
}

.gradient {
  position: relative;
  background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  
  background-size: 300%;
  background-position: -100%;  
  
  animation: animatedText 5s infinite alternate-reverse;
}

@keyframes animatedText{
  to {
    background-position: 100%; 
  }
}